# dependencies
node_modules/

# environment variables (IMPORTANT)
.env
.env.example

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# temp files
tmp/
temp/

# coverage
coverage/